{%extends 'dashboard.html'%}

{% block content %}
<div class="az-content-body">


         <div class="az-content-header d-block d-md-flex">
            <div>
                    
            </div>
            <div class="az-dashboard-header-right">
                <div>
                   
                   
                </div>
                <div>
                    <label class="tx-13">Terminales (Online)</label>
                    <h5>431,007</h5>
                </div>
                <div>
                    <label class="tx-13">Terminales (Offline)</label>
                    <h5>932,210</h5>
                </div>
            </div>
            <!-- az-dashboard-header-right -->
        </div>
        <!-- az-content-header -->
        <div class="az-content-body">
            <div class="card card-dashboard-seven">
                
                <!-- card-header -->
                <div class="card-body">
                    <div class="row row-sm">
                        <div class="col-6 col-lg-3">
                            <label class="az-content-label">Total Ventas</label>
                            <h2><span>$</span>293,488</h2>
                            <div class="desc up">
                                <i class="icon ion-md-stats"></i>
                                <span><strong>2.00%</strong> (30 days)</span>
                            </div>
                            <!---<span id="compositeline2">5,9,5,6,4,12,18,14,10,15,12,5,8,5,12,5,12,10,16,12</span> --->
                        </div>
                        <!-- col -->
                        <div class="col-6 col-lg-3">
                            <label class="az-content-label">Total Ganancia</label>
                            <h2><span>$</span>129,449</h2>
                            <div class="desc up">
                                <i class="icon ion-md-stats"></i>
                                <span><strong>12.09%</strong> (30 days)</span>
                            </div>
                            <!--<span id="compositeline">3,2,4,6,12,14,8,7,14,16,12,7,8,4,3,2,2,5,6,7</span> --->
                        </div>
                        <!-- col -->
                        <div class="col-6 col-lg-3 mg-t-20 mg-lg-t-0">
                            <label class="az-content-label">Total Comision</label>
                            <h2><span>$</span>38,098</h2>
                            <div class="desc down">
                                <i class="icon ion-md-stats"></i>
                                <span><strong>0.51%</strong> (30 days)</span>
                            </div>
                            <!--<span id="compositeline4">5,9,5,6,4,12,18,14,10,15,12,5,8,5,12,5,12,10,16,12</span> --->
                        </div>
                        <!-- col -->
                        <div class="col-6 col-lg-3 mg-t-20 mg-lg-t-0">
                            <label class="az-content-label">Total Ganancia Neta</label>
                            <h2><span>$</span>91,351</h2>
                            <div class="desc up">
                                <i class="icon ion-md-stats"></i>
                                <span><strong>5.32%</strong> (30 days)</span>
                            </div>
                            <!---<span id="compositeline3">5,10,5,20,22,12,15,18,20,15,8,12,22,5,10,12,22,15,16,10</span>--->
                        </div>
                        <!-- col -->
                    </div>
                    <!-- row -->
                </div>
                <!-- card-body -->
            </div>
            <!-- card -->

            <div class="row row-sm mg-b-15 mg-sm-b-20">
                <div class="col-lg-6 col-xl-7">
                    <div class="card card-dashboard-six">
                        <div class="card-header">
                            <div>
                                <label class="az-content-label">This Year's Total Revenue</label>
                                <span class="d-block">Sales Performance for Online and Offline Revenue</span>
                            </div>
                            <div class="chart-legend">
                                <div><span>Online Revenue</span> <span class="bg-indigo"></span></div>
                                <div><span>Offline Revenue</span> <span class="bg-teal"></span></div>
                            </div>
                        </div>
                        <!-- card-header -->
                        <div id="morrisBar1" class="ht-200 ht-lg-250 wd-100p"></div>
                    </div>
                    <!-- card -->
                </div>
                <!-- col -->
                <div class="col-lg-6 col-xl-5 mg-t-20 mg-lg-t-0">
                    <div class="card card-dashboard-map-one">
                        <label class="az-content-label">Sales Revenue by Customers in USA</label>
                        <span class="d-block mg-b-20">Sales Performance of all states in the United States</span>
                        <div id="vmap2" class="vmap-wrapper"></div>
                    </div>
                    <!-- card -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div class="row row-sm mg-b-20 mg-lg-b-0">
                <div class="col-md-6 col-xl-7">
                    <div class="card card-table-two">
                        <h6 class="card-title">Your Most Recent Earnings</h6>
                        <span class="d-block mg-b-20">This is your most recent earnings for today's date.</span>
                        <div class="table-responsive">
                            <table class="table table-striped table-dashboard-two">
                                <thead>
                                    <tr>
                                        <th class="wd-lg-25p">Date</th>
                                        <th class="wd-lg-25p tx-right">Sales Count</th>
                                        <th class="wd-lg-25p tx-right">Earnings</th>
                                        <th class="wd-lg-25p tx-right">Tax Witheld</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>05 Oct 2018</td>
                                        <td class="tx-right tx-medium tx-inverse">25</td>
                                        <td class="tx-right tx-medium tx-inverse">$380.50</td>
                                        <td class="tx-right tx-medium tx-danger">-$23.50</td>
                                    </tr>
                                    <tr>
                                        <td>04 Oct 2018</td>
                                        <td class="tx-right tx-medium tx-inverse">34</td>
                                        <td class="tx-right tx-medium tx-inverse">$503.20</td>
                                        <td class="tx-right tx-medium tx-danger">-$13.45</td>
                                    </tr>
                                    <tr>
                                        <td>03 Oct 2018</td>
                                        <td class="tx-right tx-medium tx-inverse">30</td>
                                        <td class="tx-right tx-medium tx-inverse">$489.65</td>
                                        <td class="tx-right tx-medium tx-danger">-$20.98</td>
                                    </tr>
                                    <tr>
                                        <td>02 Oct 2018</td>
                                        <td class="tx-right tx-medium tx-inverse">27</td>
                                        <td class="tx-right tx-medium tx-inverse">$421.80</td>
                                        <td class="tx-right tx-medium tx-danger">-$22.22</td>
                                    </tr>
                                    <tr>
                                        <td>01 Oct 2018</td>
                                        <td class="tx-right tx-medium tx-inverse">31</td>
                                        <td class="tx-right tx-medium tx-inverse">$518.60</td>
                                        <td class="tx-right tx-medium tx-danger">-$23.01</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive -->
                    </div>
                    <!-- card-dashboard-five -->
                </div>
                <div class="col-md-6 col-xl-5 mg-t-20 mg-md-t-0">
                    <div class="card card-dashboard-eight">
                        <h6 class="card-title">Your Top Countries</h6>
                        <span class="d-block mg-b-20">Sales performance revenue based by country</span>

                        <div class="list-group">
                            <div class="list-group-item">
                                <i class="flag-icon flag-icon-us flag-icon-squared"></i>
                                <p>United States</p>
                                <span>$1,671.10</span>
                            </div>
                            <!-- list-group-item -->
                            <div class="list-group-item">
                                <i class="flag-icon flag-icon-nl flag-icon-squared"></i>
                                <p>Netherlands</p>
                                <span>$1,064.75</span>
                            </div>
                            <!-- list-group-item -->
                            <div class="list-group-item">
                                <i class="flag-icon flag-icon-gb flag-icon-squared"></i>
                                <p>United Kingdom</p>
                                <span>$1,055.98</span>
                            </div>
                            <!-- list-group-item -->
                            <div class="list-group-item">
                                <i class="flag-icon flag-icon-ca flag-icon-squared"></i>
                                <p>Canada</p>
                                <span>$1,045.49</span>
                            </div>
                            <!-- list-group-item -->
                            <div class="list-group-item">
                                <i class="flag-icon flag-icon-au flag-icon-squared"></i>
                                <p>Australia</p>
                                <span>$1,042.00</span>
                            </div>
                            <!-- list-group-item -->
                        </div>
                        <!-- list-group -->
                    </div>
                    <!-- card -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div> <!-- your content goes here -->
      </div><!-- az-content-body -->
{% endblock %}