{%extends 'base.html'%}
{%block content%}
          <div class="az-content-body">
            
            <form id="reportes_form" method = "POST" action = "ajax_reportes">
            {% csrf_token %}
            <div id="div_reportes_form">
                <div class="card card-dashboard-seven">
                    <div class="card-header">
                        <div class="row row-sm">
                            <div class="col-6 col-md-4 col-xl">
                                <div class="media">
                                    <div class="media-body">
                                        <select id="localidad" name="localidad" class="form-control">
                                            <option value="">#Selecclone la Localidad</option>
                                            {% for item in obj.1 %}
                                           <option value="{{ item.localidad }}" {% if item.localidad == localidad %} selected {% endif %}>{{ item.localidad }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- media -->
                            </div>
                            <div class="col-6 col-md-4 col-xl">
                                <div class="media">
                                    <div class="media-body">
                                        <select id="nombre_pv" name="nombre_pv" class="form-control">
                                            <option value="">#Todos los PDVs</option>
                                            {% for item in obj.2 %}
                                            <option value="{{ item.nombre_pv }}" {% if item.nombre_pv == nombre_pv %} selected {% endif %}>{{ item.nombre_pv }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- media -->
                            </div>
                            <div class="col-6 col-md-4 col-xl mg-t-15 mg-xl-t-0">
                                <div class="media">
                                    <div class="media-body">
                                        <select id="selecclonar" name="selecclonar" class="form-control">
                                            <option value="">Selecclonar</option>
                                            <option value="hoy" {% if selecclonar == 'hoy' %} selected {% endif %}>Hoy</option>
                                            <option value="seleccolnar de" {% if selecclonar == 'seleccolnar de' %} selected {% endif %}>Selecclonar de</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- media -->
                            </div>
                            <div class="col-6 col-md-4 col-xl mg-t-15 mg-xl-t-0">
                                <div class="media">
                                    <div class="media-body">
                                        <input id="inicial" name="inicial" class="form-control" placeholder="Inicial" value="{{ inicial }}" />
                                    </div>
                                </div>
                                <!-- media -->
                            </div>
                            <div class="col-6 col-md-4 col-xl mg-t-15 mg-xl-t-0">
                                <div class="media">
                                    <div class="media-body">
                                        <input id="final" name="final" class="form-control" placeholder="Final" value="{{ final }}" />
                                    </div>
                                </div>
                                <!-- media -->
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <div class="card-body">
                        <div class="row row-sm">
                            <div class="col-6 col-md-4 col-xl">
                                <label class="az-content-label">PDV(s)</label>
                                <h2><span>{% if pdvs is None %}0{% else %}{{ pdvs }}{% endif %}</span></h2>
                            </div>
                            <!-- col -->
                            <div class="col-6 col-md-4 col-xl">
                                <label class="az-content-label">TICKET(S)</label>
                                <h2><span>{% if tickets is None %}0{% else %}{{ tickets }}{% endif %}</span></h2>
                            </div>
                            <!-- col -->
                            <div class="col-6 col-md-4 col-xl mg-t-15 mg-xl-t-0">
                                <label class="az-content-label">Venta</label>
                                <h2><span>{% if ventas is None %}0{% else %}{{ ventas }}{% endif %}</span></h2>
                            </div>
                            <!-- col -->
                            <div class="col-6 col-md-4 col-xl mg-t-15 mg-xl-t-0">
                                <label class="az-content-label">Premios</label>
                                <h2><span>{% if premios is None %}0{% else %}{{ premios }}{% endif %}</span></h2>
                            </div>
                            <!-- col -->
                            <div class="col-6 col-md-4 col-xl mg-t-15 mg-xl-t-0">
                                <label class="az-content-label">Saldo</label>
                                <h2><span>{% if saldo is None %}0{% else %}{{ saldo }}{% endif %}</span></h2>
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- card-body -->
                </div>
                <div class="card-body"> 
                    {%if not obj%}
                    <div class="alert alert-info">No Hay Cajeros Registrados</div>
                    {%endif%}
                    <table class="table table-striped table-hover main-table">
                        <thead>
                            <th>NO</th>
                            <th>LOCALIDAD</th>
                            <th>PUNTO DE VENTA</th>
                            <th>TICKETS</th>
                            <th>VENTA</th>
                            <th>PREMIOS</th>
                            <th>SALDO</th>
                            <th>PORCENTAJE</th>
                            
                        </thead>
                        <tbody>

                            {% for item in obj.0 %}
                                <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.id_cajero__id_pos_pc__id_pv__localidad }}</td>
                                <td>{{ item.id_cajero__id_pos_pc__id_pv__nombre_pv }}</td>
                                <td>{{ item.tickets }}</td>
                                <td>{{ item.ventas }}</td>
                                <td>{{ item.premios }}</td>
                                <td>{{ item.saldo }}</td>
                                <td>{{ item.percentage }}</td>
                                </tr>
                            {%endfor%}                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
            </form>
        </div>


{%endblock%}