{%extends 'base.html'%}

{%block content%}
<div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold az-content-label tx-indigo">Listado de Terminales</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acciones</div>
                      <a class="dropdown-item" onclick="return abrir_modal('{% url 'core:terminal_crear' %}')"><i class="far fa-calendar-plus"></i>Nuevo Terminal</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  {%if not obj%}
                   <div class="alert alert-info">No Hay Terminales Registrados</div>
                  {%endif%}
                  <table class="table table-striped table-hover">
                    <thead>
                      <th>ID</th>
                      <th>CODIGO TERMINAL</th>
                      <th>ESTADO TERMINAL</th>
                      <th>PUNTO DE VENTA ASIGNADO</th>
                      <th class="all">ACCIONES</th>
                    </thead>
                    <tbody>
                      <tr>
                      {%for item in obj %}
                      <td>{{ item.id_pos_pc }}</td>
                      <td>{{item.codigo_pos_pc}}</td>
                      <td>{{ item.estado_pos_pc}}</td>
                      <td>{{item.id_pv.nombre_pv}}</td>
                      <td>
                        <a class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'core:terminal_editar' item.id_pos_pc %}')">
                          <i class="far fa-edit"></i></a>
                        <a class="btn  btn-danger btn-circle " onclick="return abrir_modal('{% url 'core:terminal_eliminar' item.id_pos_pc %}')"><i class="far fa-trash-alt"></i></a>
                      </td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
{%endblock%}

{%block page_js%}

<script>
  
  $(document).ready(function(){
    $('.table').DataTable();
    });
</script>
{%endblock%}