{%extends 'base.html'%}
{% block content %} 

<form action="POST" class="form-inline">{% csrf_token %}
    
  <div class="col-xl-6 col-md-6 mb-6">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Nuevo Punto de Ventas
                      </div>      
                      <div class="dropdown-divider"></div>   
                      <div class="row">
                        <div class="col-10">
                          <div class="input-group">
                            <input type="text" name="nombre_pv" maxlength="100" class="form-control" required id="id_pv"  placeholder="Nombre PV" value="">
                          </div>
                        </div>
                        <div class="col 2">
                          <div class="form-group">
                            <label for="estado_pv">Estado</label>
                            <input type="text" name="nombre_pv" maxlength="100" class="form-control" required id="id_pv"  placeholder="Nombre PV" value="">
                          </div>
                        </div>
                        <div class="col-10">
                          
                          </div>
                          <div class="col-10">
                          <div class="input-group">
                            <input type="text" name="localidad" maxlength="100" class="form-control" required id="id_pv"  placeholder="Nombre PV" value="">
                          </div>
                        </div>
                        </div>
                         <div class="dropdown-divider"></div>   
                         <div class="row">
                           <div class="col">
                             <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>GUARDAR</button>
                             <a href="{%url 'core:punto_venta_list'%}" class="btn btn-sucess"><span class="fa fa-undo">CANCELAR</span></a>
                           </div>
                         </div>
                        
                        
                      </div>          
                    </div>
                  </div>
                </div>
              </div>
</form>
          {% endblock %}
      {%block js_page%}
      {%endblock%}